1. Tratamiento csv-excel/__pycache__
1. Tratamiento csv-excel/assets
1. Tratamiento csv-excel/out

3. Ordenar txt/assets
3. Ordenar txt/out

5. Extracción de archivos/assets
5. Extracción de archivos/out_normal
5. Extracción de archivos/out_sin_extension

6. Clasificar información de celdas que contengan listas en un excel/assets
6. Clasificar información de celdas que contengan listas en un excel/out

7. Clasificación de artículos/assets

8. imagenes en determinado tamaño/resultado.txt

10. Dividir archivo excels en las hojas que tenga/assets
10. Dividir archivo excels en las hojas que tenga/out

11. Filtrar archivos de excel por palabra/assets
11. Filtrar archivos de excel por palabra/out

13. Herramientas usadas para generar el reporte de estudiantes Protocolo alterno/assets
13. Herramientas usadas para generar el reporte de estudiantes Protocolo alterno/out
13. Herramientas usadas para generar el reporte de estudiantes Protocolo alterno/SeleniumDrivers