Tratamiento csv-excel/__pycache__
Tratamiento csv-excel/assets

Ordenar txt/assets
Ordenar txt/out

Clasificar información de celdas que contengan listas en un excel/assets
Clasificar información de celdas que contengan listas en un excel/out